# coding: utf-8

"""
    IriusRisk API

    IriusRisk provides this featured API to allow for deeper customer integrations as well as enable very flexible automations within the many varied environments IriusRisk needs to operate.  **Beta Version Disclaimer:** Please note that this version of the API is currently in beta. While it offers advanced features for deeper integrations and flexible automations, we reserve the right to make breaking changes during this phase. Backwards compatibility may not be maintained. We encourage users to explore its capabilities but recommend caution in production environments as the API may undergo significant modifications.  # noqa: E501

    OpenAPI spec version: 2.0.0-beta.8
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from iriusrisk_python_client_lib.api_client import ApiClient


class LibrariesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def apply_library_changes(self, body, x_irius_async, library_id, **kwargs):  # noqa: E501
        """Applies library changes to projects.  # noqa: E501

        The library information will be applied to the specified projects, updating their use cases, threats, countermeasures and weaknesses. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_library_changes(body, x_irius_async, library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyLibraryChangesRequest body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :param str library_id: ID of the library (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apply_library_changes_with_http_info(body, x_irius_async, library_id, **kwargs)  # noqa: E501
        else:
            (data) = self.apply_library_changes_with_http_info(body, x_irius_async, library_id, **kwargs)  # noqa: E501
            return data

    def apply_library_changes_with_http_info(self, body, x_irius_async, library_id, **kwargs):  # noqa: E501
        """Applies library changes to projects.  # noqa: E501

        The library information will be applied to the specified projects, updating their use cases, threats, countermeasures and weaknesses. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_library_changes_with_http_info(body, x_irius_async, library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyLibraryChangesRequest body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :param str library_id: ID of the library (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_irius_async', 'library_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apply_library_changes" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `apply_library_changes`")  # noqa: E501
        # verify the required parameter 'x_irius_async' is set
        if ('x_irius_async' not in params or
                params['x_irius_async'] is None):
            raise ValueError("Missing the required parameter `x_irius_async` when calling `apply_library_changes`")  # noqa: E501
        # verify the required parameter 'library_id' is set
        if ('library_id' not in params or
                params['library_id'] is None):
            raise ValueError("Missing the required parameter `library_id` when calling `apply_library_changes`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'library_id' in params:
            path_params['library-id'] = params['library_id']  # noqa: E501

        query_params = []

        header_params = {}
        if 'x_irius_async' in params:
            header_params['X-Irius-Async'] = params['x_irius_async']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/{library-id}/projects/apply-changes', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AsyncOperationIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_library_countermeasure(self, body, **kwargs):  # noqa: E501
        """Add an existing countermeasure to the selected threat or weakness.  # noqa: E501

        Add an existing countermeasure to the selected threat or weakness. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_library_countermeasure(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyLibraryCountermeasureRequest body: (required)
        :return: LibraryCountermeasureResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_library_countermeasure_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_library_countermeasure_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def copy_library_countermeasure_with_http_info(self, body, **kwargs):  # noqa: E501
        """Add an existing countermeasure to the selected threat or weakness.  # noqa: E501

        Add an existing countermeasure to the selected threat or weakness. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_library_countermeasure_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyLibraryCountermeasureRequest body: (required)
        :return: LibraryCountermeasureResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_library_countermeasure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `copy_library_countermeasure`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryCountermeasureResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_library_weakness(self, body, **kwargs):  # noqa: E501
        """Adds an existing weakness to the selected threat.  # noqa: E501

        Adds an existing weakness to the selected threat. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_library_weakness(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyLibraryWeaknessRequest body: (required)
        :return: LibraryWeaknessResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_library_weakness_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_library_weakness_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def copy_library_weakness_with_http_info(self, body, **kwargs):  # noqa: E501
        """Adds an existing weakness to the selected threat.  # noqa: E501

        Adds an existing weakness to the selected threat. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_library_weakness_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyLibraryWeaknessRequest body: (required)
        :return: LibraryWeaknessResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_library_weakness" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `copy_library_weakness`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/weaknesses/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryWeaknessResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_threat(self, body, **kwargs):  # noqa: E501
        """An existing threat will be copied to the selected use case.  # noqa: E501

        An existing threat will be copied to the selected use case. Conditions to be able to perform the action: - To have the permission LIBRARY_UPDATE granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_threat(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyThreatRequest body: (required)
        :return: ThreatResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_threat_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_threat_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def copy_threat_with_http_info(self, body, **kwargs):  # noqa: E501
        """An existing threat will be copied to the selected use case.  # noqa: E501

        An existing threat will be copied to the selected use case. Conditions to be able to perform the action: - To have the permission LIBRARY_UPDATE granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_threat_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyThreatRequest body: (required)
        :return: ThreatResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_threat" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `copy_threat`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/threats/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ThreatResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_countermeasure_comment(self, **kwargs):  # noqa: E501
        """Creates a comment in a library countermeasure.  # noqa: E501

        Creates a new countermeasure comment. Conditions to be able to perform the action: - To have the permission **LIBRARY_VIEW** granted, or, - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_countermeasure_comment(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LibraryCountermeasureCommentRequest body:
        :return: LibraryCountermeasureCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_countermeasure_comment_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_countermeasure_comment_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_countermeasure_comment_with_http_info(self, **kwargs):  # noqa: E501
        """Creates a comment in a library countermeasure.  # noqa: E501

        Creates a new countermeasure comment. Conditions to be able to perform the action: - To have the permission **LIBRARY_VIEW** granted, or, - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_countermeasure_comment_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LibraryCountermeasureCommentRequest body:
        :return: LibraryCountermeasureCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_countermeasure_comment" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/comments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryCountermeasureCommentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_countermeasure_test_reference(self, body, **kwargs):  # noqa: E501
        """Creates a reference in a countermeasure test in a library context.  # noqa: E501

        Creates a reference in a countermeasure test in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_countermeasure_test_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureTestReferenceRequest body: (required)
        :return: LibraryCountermeasureTestReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_countermeasure_test_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_countermeasure_test_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_countermeasure_test_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a reference in a countermeasure test in a library context.  # noqa: E501

        Creates a reference in a countermeasure test in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_countermeasure_test_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureTestReferenceRequest body: (required)
        :return: LibraryCountermeasureTestReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_countermeasure_test_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_countermeasure_test_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/tests/references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryCountermeasureTestReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_library(self, body, **kwargs):  # noqa: E501
        """Creates a risk pattern library.  # noqa: E501

        Creates a new risk pattern library. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LibraryRequest body: (required)
        :return: LibraryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_library_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_library_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_library_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a risk pattern library.  # noqa: E501

        Creates a new risk pattern library. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LibraryRequest body: (required)
        :return: LibraryResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_library" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_library`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_library_countermeasure(self, body, **kwargs):  # noqa: E501
        """Creates a new countermeasure within a risk pattern.  # noqa: E501

        Creates the countermeasure. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureRequest body: (required)
        :return: LibraryCountermeasureResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_library_countermeasure_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_library_countermeasure_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_library_countermeasure_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new countermeasure within a risk pattern.  # noqa: E501

        Creates the countermeasure. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureRequest body: (required)
        :return: LibraryCountermeasureResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_library_countermeasure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_library_countermeasure`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryCountermeasureResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_library_countermeasure_implementation(self, body, **kwargs):  # noqa: E501
        """Creates a new countermeasure implementation.  # noqa: E501

        Creates an implementation from a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure_implementation(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureImplementationRequest body: (required)
        :return: LibraryCountermeasureImplementationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_library_countermeasure_implementation_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_library_countermeasure_implementation_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_library_countermeasure_implementation_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new countermeasure implementation.  # noqa: E501

        Creates an implementation from a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure_implementation_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureImplementationRequest body: (required)
        :return: LibraryCountermeasureImplementationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_library_countermeasure_implementation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_library_countermeasure_implementation`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/implementations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryCountermeasureImplementationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_library_countermeasure_reference(self, body, **kwargs):  # noqa: E501
        """Adds a reference to a library countermeasure.  # noqa: E501

        Adds a reference to a library countermeasure. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureReferenceRequest body: (required)
        :return: LibraryCountermeasureReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_library_countermeasure_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_library_countermeasure_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_library_countermeasure_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Adds a reference to a library countermeasure.  # noqa: E501

        Adds a reference to a library countermeasure. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureReferenceRequest body: (required)
        :return: LibraryCountermeasureReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_library_countermeasure_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_library_countermeasure_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryCountermeasureReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_library_countermeasure_standard_reference(self, body, **kwargs):  # noqa: E501
        """Adds a standard reference to a countermeasure in a library context.  # noqa: E501

        Adds a standard reference to a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure_standard_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureStandardReferenceRequest body: (required)
        :return: LibraryCountermeasureStandardReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_library_countermeasure_standard_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_library_countermeasure_standard_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_library_countermeasure_standard_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Adds a standard reference to a countermeasure in a library context.  # noqa: E501

        Adds a standard reference to a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_countermeasure_standard_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryCountermeasureStandardReferenceRequest body: (required)
        :return: LibraryCountermeasureStandardReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_library_countermeasure_standard_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_library_countermeasure_standard_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/standard-references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryCountermeasureStandardReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_library_threat_reference(self, body, **kwargs):  # noqa: E501
        """Creates a new threat reference for a library.  # noqa: E501

        Creates a new threat reference for a library. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_threat_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryThreatReferenceRequest body: (required)
        :return: ThreatReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_library_threat_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_library_threat_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_library_threat_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new threat reference for a library.  # noqa: E501

        Creates a new threat reference for a library. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_threat_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryThreatReferenceRequest body: (required)
        :return: ThreatReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_library_threat_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_library_threat_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/threats/references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ThreatReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_library_weakness(self, body, **kwargs):  # noqa: E501
        """Creates a new weakness within a risk pattern.  # noqa: E501

        Creates the weakness. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_weakness(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryWeaknessRequest body: (required)
        :return: LibraryWeaknessResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_library_weakness_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_library_weakness_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_library_weakness_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new weakness within a risk pattern.  # noqa: E501

        Creates the weakness. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_library_weakness_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateLibraryWeaknessRequest body: (required)
        :return: LibraryWeaknessResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_library_weakness" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_library_weakness`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/weaknesses', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryWeaknessResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_risk_pattern(self, body, **kwargs):  # noqa: E501
        """Creates a risk pattern in a library.  # noqa: E501

        Creates a new risk pattern. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_risk_pattern(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateRiskPatternRequest body: (required)
        :return: RiskPatternResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_risk_pattern_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_risk_pattern_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_risk_pattern_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a risk pattern in a library.  # noqa: E501

        Creates a new risk pattern. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_risk_pattern_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateRiskPatternRequest body: (required)
        :return: RiskPatternResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_risk_pattern" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_risk_pattern`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/risk-patterns', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='RiskPatternResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_threat(self, body, **kwargs):  # noqa: E501
        """Creates a new threat within a use case.  # noqa: E501

        Creates a new threat within a use case. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_threat(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateThreatRequest body: (required)
        :return: ThreatResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_threat_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_threat_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_threat_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new threat within a use case.  # noqa: E501

        Creates a new threat within a use case. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_threat_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateThreatRequest body: (required)
        :return: ThreatResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_threat" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_threat`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/threats', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='ThreatResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_threat_comment(self, body, **kwargs):  # noqa: E501
        """Creates a comment in a library threat.  # noqa: E501

        Creates a new threat comment. Conditions to be able to perform the action: - To have the permission **LIBRARY_VIEW** granted, or, - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_threat_comment(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LibraryThreatCommentRequest body: (required)
        :return: LibraryThreatCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_threat_comment_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_threat_comment_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_threat_comment_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a comment in a library threat.  # noqa: E501

        Creates a new threat comment. Conditions to be able to perform the action: - To have the permission **LIBRARY_VIEW** granted, or, - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_threat_comment_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LibraryThreatCommentRequest body: (required)
        :return: LibraryThreatCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_threat_comment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_threat_comment`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/threats/comments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LibraryThreatCommentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_use_case(self, body, **kwargs):  # noqa: E501
        """Creates a new use case within a risk pattern.  # noqa: E501

        Creates a new use case. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_use_case(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateUseCaseRequest body: (required)
        :return: UseCaseResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_use_case_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_use_case_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_use_case_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new use case within a risk pattern.  # noqa: E501

        Creates a new use case. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_use_case_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateUseCaseRequest body: (required)
        :return: UseCaseResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_use_case" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_use_case`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/use-cases', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='UseCaseResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_weakness_test_reference(self, body, **kwargs):  # noqa: E501
        """Associates a new reference to a weakness test.  # noqa: E501

        Associates a new reference to a weakness test. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_weakness_test_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateWeaknessTestReferenceRequest body: (required)
        :return: WeaknessTestReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_weakness_test_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_weakness_test_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_weakness_test_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Associates a new reference to a weakness test.  # noqa: E501

        Associates a new reference to a weakness test. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_weakness_test_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateWeaknessTestReferenceRequest body: (required)
        :return: WeaknessTestReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_weakness_test_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_weakness_test_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/weaknesses/tests/references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='WeaknessTestReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_library_by_uuid(self, library_id, **kwargs):  # noqa: E501
        """Deletes a risk pattern library by id  # noqa: E501

        Deletes a risk pattern library by id. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_by_uuid(library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str library_id: ID of the library (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_library_by_uuid_with_http_info(library_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_library_by_uuid_with_http_info(library_id, **kwargs)  # noqa: E501
            return data

    def delete_library_by_uuid_with_http_info(self, library_id, **kwargs):  # noqa: E501
        """Deletes a risk pattern library by id  # noqa: E501

        Deletes a risk pattern library by id. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_by_uuid_with_http_info(library_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str library_id: ID of the library (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['library_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_library_by_uuid" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'library_id' is set
        if ('library_id' not in params or
                params['library_id'] is None):
            raise ValueError("Missing the required parameter `library_id` when calling `delete_library_by_uuid`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'library_id' in params:
            path_params['library-id'] = params['library_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/{library-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_library_countermeasure(self, countermeasure_id, **kwargs):  # noqa: E501
        """Deletes a countermeasure in a library context.  # noqa: E501

        Deletes a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure(countermeasure_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str countermeasure_id: ID of the countermeasure (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_library_countermeasure_with_http_info(countermeasure_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_library_countermeasure_with_http_info(countermeasure_id, **kwargs)  # noqa: E501
            return data

    def delete_library_countermeasure_with_http_info(self, countermeasure_id, **kwargs):  # noqa: E501
        """Deletes a countermeasure in a library context.  # noqa: E501

        Deletes a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure_with_http_info(countermeasure_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str countermeasure_id: ID of the countermeasure (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['countermeasure_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_library_countermeasure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'countermeasure_id' is set
        if ('countermeasure_id' not in params or
                params['countermeasure_id'] is None):
            raise ValueError("Missing the required parameter `countermeasure_id` when calling `delete_library_countermeasure`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'countermeasure_id' in params:
            path_params['countermeasure-id'] = params['countermeasure_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/{countermeasure-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_library_countermeasure1(self, reference_id, **kwargs):  # noqa: E501
        """Deletes a reference in a countermeasure test in a library context.  # noqa: E501

        Deletes a reference in a countermeasure test in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure1(reference_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str reference_id: ID of a reference. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_library_countermeasure1_with_http_info(reference_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_library_countermeasure1_with_http_info(reference_id, **kwargs)  # noqa: E501
            return data

    def delete_library_countermeasure1_with_http_info(self, reference_id, **kwargs):  # noqa: E501
        """Deletes a reference in a countermeasure test in a library context.  # noqa: E501

        Deletes a reference in a countermeasure test in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure1_with_http_info(reference_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str reference_id: ID of a reference. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['reference_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_library_countermeasure1" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'reference_id' is set
        if ('reference_id' not in params or
                params['reference_id'] is None):
            raise ValueError("Missing the required parameter `reference_id` when calling `delete_library_countermeasure1`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'reference_id' in params:
            path_params['reference-id'] = params['reference_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/tests/references/{reference-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_library_countermeasure_implementation(self, implementation_id, **kwargs):  # noqa: E501
        """Deletes an implementation from a countermeasure in a library context.  # noqa: E501

        Deletes an implementation from a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure_implementation(implementation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str implementation_id: The id of the countermeasure implementation. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_library_countermeasure_implementation_with_http_info(implementation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_library_countermeasure_implementation_with_http_info(implementation_id, **kwargs)  # noqa: E501
            return data

    def delete_library_countermeasure_implementation_with_http_info(self, implementation_id, **kwargs):  # noqa: E501
        """Deletes an implementation from a countermeasure in a library context.  # noqa: E501

        Deletes an implementation from a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure_implementation_with_http_info(implementation_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str implementation_id: The id of the countermeasure implementation. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['implementation_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_library_countermeasure_implementation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'implementation_id' is set
        if ('implementation_id' not in params or
                params['implementation_id'] is None):
            raise ValueError("Missing the required parameter `implementation_id` when calling `delete_library_countermeasure_implementation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'implementation_id' in params:
            path_params['implementation-id'] = params['implementation_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/implementations/{implementation-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_library_countermeasure_reference(self, reference_id, **kwargs):  # noqa: E501
        """Deletes a reference in a countermeasure in a library context.  # noqa: E501

        Deletes a reference in a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure_reference(reference_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str reference_id: ID of a reference. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_library_countermeasure_reference_with_http_info(reference_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_library_countermeasure_reference_with_http_info(reference_id, **kwargs)  # noqa: E501
            return data

    def delete_library_countermeasure_reference_with_http_info(self, reference_id, **kwargs):  # noqa: E501
        """Deletes a reference in a countermeasure in a library context.  # noqa: E501

        Deletes a reference in a countermeasure in a library context. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_library_countermeasure_reference_with_http_info(reference_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str reference_id: ID of a reference. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['reference_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_library_countermeasure_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'reference_id' is set
        if ('reference_id' not in params or
                params['reference_id'] is None):
            raise ValueError("Missing the required parameter `reference_id` when calling `delete_library_countermeasure_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'reference_id' in params:
            path_params['reference-id'] = params['reference_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/libraries/countermeasures/references/{reference-id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_library_countermeasure_standard_reference(self, standard_reference_id, **kwargs):  # noqa: E501
        """Deletes a countermeasure standard reference.  # noqa: E501

        Deletes a countermeasure standard reference. Conditions to be able to perform the action: - To have the permission **LIBRARY_UPDATE** granted.  # noqa: E501
[...]
