# coding: utf-8

"""
    IriusRisk API

    IriusRisk provides this featured API to allow for deeper customer integrations as well as enable very flexible automations within the many varied environments IriusRisk needs to operate.  **Beta Version Disclaimer:** Please note that this version of the API is currently in beta. While it offers advanced features for deeper integrations and flexible automations, we reserve the right to make breaking changes during this phase. Backwards compatibility may not be maintained. We encourage users to explore its capabilities but recommend caution in production environments as the API may undergo significant modifications.  # noqa: E501

    OpenAPI spec version: 2.0.0-beta.8
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from iriusrisk_python_client_lib.api_client import ApiClient


class TemplatesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def apply_standard_to_template(self, body, template_id, **kwargs):  # noqa: E501
        """Apply a standard to the recommended countermeasures of the template.  # noqa: E501

        Apply a standard to the recommended countermeasures of the template. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_standard_to_template(body, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyStandardToTemplateRequest body: (required)
        :param str template_id: ID of the template (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.apply_standard_to_template_with_http_info(body, template_id, **kwargs)  # noqa: E501
        else:
            (data) = self.apply_standard_to_template_with_http_info(body, template_id, **kwargs)  # noqa: E501
            return data

    def apply_standard_to_template_with_http_info(self, body, template_id, **kwargs):  # noqa: E501
        """Apply a standard to the recommended countermeasures of the template.  # noqa: E501

        Apply a standard to the recommended countermeasures of the template. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.apply_standard_to_template_with_http_info(body, template_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ApplyStandardToTemplateRequest body: (required)
        :param str template_id: ID of the template (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'template_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method apply_standard_to_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `apply_standard_to_template`")  # noqa: E501
        # verify the required parameter 'template_id' is set
        if ('template_id' not in params or
                params['template_id'] is None):
            raise ValueError("Missing the required parameter `template_id` when calling `apply_standard_to_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'template_id' in params:
            path_params['template-id'] = params['template_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/{template-id}/apply-standard', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_delete_template_countermeasure(self, x_irius_async, id, **kwargs):  # noqa: E501
        """Deletes a list of countermeasures.  # noqa: E501

        Deletes a list of countermeasures. This operation must be executed with the header X-Irius-Async set to true. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_delete_template_countermeasure(x_irius_async, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :param list[str] id: Unique identifier of the countermeasure. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_delete_template_countermeasure_with_http_info(x_irius_async, id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_delete_template_countermeasure_with_http_info(x_irius_async, id, **kwargs)  # noqa: E501
            return data

    def bulk_delete_template_countermeasure_with_http_info(self, x_irius_async, id, **kwargs):  # noqa: E501
        """Deletes a list of countermeasures.  # noqa: E501

        Deletes a list of countermeasures. This operation must be executed with the header X-Irius-Async set to true. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_delete_template_countermeasure_with_http_info(x_irius_async, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :param list[str] id: Unique identifier of the countermeasure. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_irius_async', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_delete_template_countermeasure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_irius_async' is set
        if ('x_irius_async' not in params or
                params['x_irius_async'] is None):
            raise ValueError("Missing the required parameter `x_irius_async` when calling `bulk_delete_template_countermeasure`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `bulk_delete_template_countermeasure`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
            collection_formats['id'] = 'multi'  # noqa: E501

        header_params = {}
        if 'x_irius_async' in params:
            header_params['X-Irius-Async'] = params['x_irius_async']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/bulk', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AsyncOperationIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_delete_template_threat(self, x_irius_async, id, **kwargs):  # noqa: E501
        """Delete multiple threats by their ids.  # noqa: E501

        Deletes a set of threats. This operation must be executed with the header X-Irius-Async set to true.  Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE_ALL** granted or **TEMPLATE_UPDATE** and visibility over the template.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_delete_template_threat(x_irius_async, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :param list[str] id: Unique identifier of the threat. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_delete_template_threat_with_http_info(x_irius_async, id, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_delete_template_threat_with_http_info(x_irius_async, id, **kwargs)  # noqa: E501
            return data

    def bulk_delete_template_threat_with_http_info(self, x_irius_async, id, **kwargs):  # noqa: E501
        """Delete multiple threats by their ids.  # noqa: E501

        Deletes a set of threats. This operation must be executed with the header X-Irius-Async set to true.  Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE_ALL** granted or **TEMPLATE_UPDATE** and visibility over the template.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_delete_template_threat_with_http_info(x_irius_async, id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :param list[str] id: Unique identifier of the threat. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['x_irius_async', 'id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_delete_template_threat" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'x_irius_async' is set
        if ('x_irius_async' not in params or
                params['x_irius_async'] is None):
            raise ValueError("Missing the required parameter `x_irius_async` when calling `bulk_delete_template_threat`")  # noqa: E501
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `bulk_delete_template_threat`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'id' in params:
            query_params.append(('id', params['id']))  # noqa: E501
            collection_formats['id'] = 'multi'  # noqa: E501

        header_params = {}
        if 'x_irius_async' in params:
            header_params['X-Irius-Async'] = params['x_irius_async']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/threats/bulk', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AsyncOperationIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_update_template_countermeasure_priority(self, body, x_irius_async, **kwargs):  # noqa: E501
        """Updates the priority of a list of countermeasures.  # noqa: E501

        Updates the priority of a list of countermeasures. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_update_template_countermeasure_priority(body, x_irius_async, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[UpdateTemplateCountermeasurePriorityRequest] body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_update_template_countermeasure_priority_with_http_info(body, x_irius_async, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_update_template_countermeasure_priority_with_http_info(body, x_irius_async, **kwargs)  # noqa: E501
            return data

    def bulk_update_template_countermeasure_priority_with_http_info(self, body, x_irius_async, **kwargs):  # noqa: E501
        """Updates the priority of a list of countermeasures.  # noqa: E501

        Updates the priority of a list of countermeasures. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_update_template_countermeasure_priority_with_http_info(body, x_irius_async, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[UpdateTemplateCountermeasurePriorityRequest] body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_irius_async']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_update_template_countermeasure_priority" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_update_template_countermeasure_priority`")  # noqa: E501
        # verify the required parameter 'x_irius_async' is set
        if ('x_irius_async' not in params or
                params['x_irius_async'] is None):
            raise ValueError("Missing the required parameter `x_irius_async` when calling `bulk_update_template_countermeasure_priority`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_irius_async' in params:
            header_params['X-Irius-Async'] = params['x_irius_async']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/priority/bulk', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AsyncOperationIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_update_template_countermeasure_state(self, body, x_irius_async, **kwargs):  # noqa: E501
        """Updates the status of a list of countermeasures.  # noqa: E501

        Updates the status of a list of countermeasures. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_update_template_countermeasure_state(body, x_irius_async, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_update_template_countermeasure_state_with_http_info(body, x_irius_async, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_update_template_countermeasure_state_with_http_info(body, x_irius_async, **kwargs)  # noqa: E501
            return data

    def bulk_update_template_countermeasure_state_with_http_info(self, body, x_irius_async, **kwargs):  # noqa: E501
        """Updates the status of a list of countermeasures.  # noqa: E501

        Updates the status of a list of countermeasures. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_update_template_countermeasure_state_with_http_info(body, x_irius_async, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_irius_async']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_update_template_countermeasure_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_update_template_countermeasure_state`")  # noqa: E501
        # verify the required parameter 'x_irius_async' is set
        if ('x_irius_async' not in params or
                params['x_irius_async'] is None):
            raise ValueError("Missing the required parameter `x_irius_async` when calling `bulk_update_template_countermeasure_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_irius_async' in params:
            header_params['X-Irius-Async'] = params['x_irius_async']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/state/bulk', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AsyncOperationIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def bulk_update_template_threat_state(self, body, x_irius_async, **kwargs):  # noqa: E501
        """Update multiple threats by their ids.  # noqa: E501

        Updates the status of a set of threats. Allows to execute a state transition for each one of them. This operation must be executed with the header X-Irius-Async set to true. A reason must be given for these transitions: expose, accept or not-applicable.  Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_update_template_threat_state(body, x_irius_async, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.bulk_update_template_threat_state_with_http_info(body, x_irius_async, **kwargs)  # noqa: E501
        else:
            (data) = self.bulk_update_template_threat_state_with_http_info(body, x_irius_async, **kwargs)  # noqa: E501
            return data

    def bulk_update_template_threat_state_with_http_info(self, body, x_irius_async, **kwargs):  # noqa: E501
        """Update multiple threats by their ids.  # noqa: E501

        Updates the status of a set of threats. Allows to execute a state transition for each one of them. This operation must be executed with the header X-Irius-Async set to true. A reason must be given for these transitions: expose, accept or not-applicable.  Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.bulk_update_template_threat_state_with_http_info(body, x_irius_async, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param list[object] body: (required)
        :param bool x_irius_async: Sets whether the endpoint works asynchronously or not passed as parameter. (required)
        :return: AsyncOperationIdResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'x_irius_async']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bulk_update_template_threat_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `bulk_update_template_threat_state`")  # noqa: E501
        # verify the required parameter 'x_irius_async' is set
        if ('x_irius_async' not in params or
                params['x_irius_async'] is None):
            raise ValueError("Missing the required parameter `x_irius_async` when calling `bulk_update_template_threat_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}
        if 'x_irius_async' in params:
            header_params['X-Irius-Async'] = params['x_irius_async']  # noqa: E501

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/threats/state/bulk', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AsyncOperationIdResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def change_template_threat_state_by_id(self, body, threat_id, **kwargs):  # noqa: E501
        """Updates the status of a template threat.  # noqa: E501

        Updates the status of a template threat. A reason must be given for these transitions: expose, accept or not-applicable.  Conditions to be able to perform the action are verified in the background, for every threat that must be updated: - To have the permission **TEMPLATE_UPDATE** granted, or, - To have the permission **TEMPLATE_UPDATE_ALL** granted, - The transition undo-not-applicable can only be applied to threats currently in the state not-applicable - The template must not be locked - The template must be visible for the user - The template must not be locked or in a read-only state  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_template_threat_state_by_id(body, threat_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ThreatidStateBody body: (required)
        :param str threat_id: Unique identifier of the threat. (required)
        :return: TemplateThreatWithCustomFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.change_template_threat_state_by_id_with_http_info(body, threat_id, **kwargs)  # noqa: E501
        else:
            (data) = self.change_template_threat_state_by_id_with_http_info(body, threat_id, **kwargs)  # noqa: E501
            return data

    def change_template_threat_state_by_id_with_http_info(self, body, threat_id, **kwargs):  # noqa: E501
        """Updates the status of a template threat.  # noqa: E501

        Updates the status of a template threat. A reason must be given for these transitions: expose, accept or not-applicable.  Conditions to be able to perform the action are verified in the background, for every threat that must be updated: - To have the permission **TEMPLATE_UPDATE** granted, or, - To have the permission **TEMPLATE_UPDATE_ALL** granted, - The transition undo-not-applicable can only be applied to threats currently in the state not-applicable - The template must not be locked - The template must be visible for the user - The template must not be locked or in a read-only state  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.change_template_threat_state_by_id_with_http_info(body, threat_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param ThreatidStateBody body: (required)
        :param str threat_id: Unique identifier of the threat. (required)
        :return: TemplateThreatWithCustomFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'threat_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method change_template_threat_state_by_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `change_template_threat_state_by_id`")  # noqa: E501
        # verify the required parameter 'threat_id' is set
        if ('threat_id' not in params or
                params['threat_id'] is None):
            raise ValueError("Missing the required parameter `threat_id` when calling `change_template_threat_state_by_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'threat_id' in params:
            path_params['threat-id'] = params['threat_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/threats/{threat-id}/state', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateThreatWithCustomFieldsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_countermeasure_in_template_threat(self, body, **kwargs):  # noqa: E501
        """Copy Countermeasure into template Threat.  # noqa: E501

        Copy an existing Countermeasure into a specified Threat by referencing both entities. By default the State of the Countermeasure will be **RECOMMENDED**. Conditions to be able to perform the action: - Countermeasure must be visible for the User. Extra permissions may be needed depending on the source  The target template must also be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  If the process involves a Weakness, it would be necessary to have the permission to view the Weakness.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_countermeasure_in_template_threat(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyCountermeasureInTemplateThreatRequest body: (required)
        :return: TemplateCountermeasureDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_countermeasure_in_template_threat_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_countermeasure_in_template_threat_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def copy_countermeasure_in_template_threat_with_http_info(self, body, **kwargs):  # noqa: E501
        """Copy Countermeasure into template Threat.  # noqa: E501

        Copy an existing Countermeasure into a specified Threat by referencing both entities. By default the State of the Countermeasure will be **RECOMMENDED**. Conditions to be able to perform the action: - Countermeasure must be visible for the User. Extra permissions may be needed depending on the source  The target template must also be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  If the process involves a Weakness, it would be necessary to have the permission to view the Weakness.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_countermeasure_in_template_threat_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyCountermeasureInTemplateThreatRequest body: (required)
        :return: TemplateCountermeasureDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_countermeasure_in_template_threat" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `copy_countermeasure_in_template_threat`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateCountermeasureDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_threat_in_template_use_case(self, body, **kwargs):  # noqa: E501
        """Copy Threat into template Use Case.  # noqa: E501

        Copy an existing Threat into a specified template Use Case. Conditions to be able to perform the action: - Threat must be visible for the User. Extra permissions may be needed depending on the source  The target template must also be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_threat_in_template_use_case(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyThreatInTemplateUseCaseRequest body: (required)
        :return: TemplateThreatWithCustomFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_threat_in_template_use_case_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_threat_in_template_use_case_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def copy_threat_in_template_use_case_with_http_info(self, body, **kwargs):  # noqa: E501
        """Copy Threat into template Use Case.  # noqa: E501

        Copy an existing Threat into a specified template Use Case. Conditions to be able to perform the action: - Threat must be visible for the User. Extra permissions may be needed depending on the source  The target template must also be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_threat_in_template_use_case_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyThreatInTemplateUseCaseRequest body: (required)
        :return: TemplateThreatWithCustomFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_threat_in_template_use_case" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `copy_threat_in_template_use_case`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/threats/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateThreatWithCustomFieldsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def copy_weakness_in_template_threat(self, body, **kwargs):  # noqa: E501
        """Copy Weakness into template Threat.  # noqa: E501

        Copy an existing weakness into a specified template threat. Conditions to be able to perform the action: - Weakness must be visible for the User. Extra permissions may be needed depending on the source  The target template must also be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_weakness_in_template_threat(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyWeaknessInTemplateThreatRequest body: (required)
        :return: TemplateWeaknessResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.copy_weakness_in_template_threat_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.copy_weakness_in_template_threat_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def copy_weakness_in_template_threat_with_http_info(self, body, **kwargs):  # noqa: E501
        """Copy Weakness into template Threat.  # noqa: E501

        Copy an existing weakness into a specified template threat. Conditions to be able to perform the action: - Weakness must be visible for the User. Extra permissions may be needed depending on the source  The target template must also be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.copy_weakness_in_template_threat_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CopyWeaknessInTemplateThreatRequest body: (required)
        :return: TemplateWeaknessResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method copy_weakness_in_template_threat" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `copy_weakness_in_template_threat`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/weaknesses/copy', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateWeaknessResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template(self, body, **kwargs):  # noqa: E501
        """Create a new template.  # noqa: E501

        Create a new template.  Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateRequest body: Payload to create a template. (required)
        :return: TemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a new template.  # noqa: E501

        Create a new template.  Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateRequest body: Payload to create a template. (required)
        :return: TemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_countermeasure(self, body, **kwargs):  # noqa: E501
        """Create a Template Countermeasure.  # noqa: E501

        Creates a new countermeasure within a template, specifying its details. To perform the action the template must be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureRequest body: (required)
        :return: TemplateCountermeasureDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_countermeasure_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_countermeasure_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_countermeasure_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a Template Countermeasure.  # noqa: E501

        Creates a new countermeasure within a template, specifying its details. To perform the action the template must be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureRequest body: (required)
        :return: TemplateCountermeasureDetailResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_countermeasure" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_countermeasure`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateCountermeasureDetailResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_countermeasure_comment(self, body, **kwargs):  # noqa: E501
        """Creates a new comment for a countermeasure.  # noqa: E501

        Creates a new comment for a countermeasure. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_comment(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureCommentRequest body: (required)
        :return: TemplateCountermeasureCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_countermeasure_comment_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_countermeasure_comment_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_countermeasure_comment_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new comment for a countermeasure.  # noqa: E501

        Creates a new comment for a countermeasure. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_comment_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureCommentRequest body: (required)
        :return: TemplateCountermeasureCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_countermeasure_comment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_countermeasure_comment`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/comments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateCountermeasureCommentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_countermeasure_implementation(self, body, **kwargs):  # noqa: E501
        """Creates a new countermeasure implementation.  # noqa: E501

        Creates a new countermeasure implementation. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_implementation(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureImplementationRequest body: (required)
        :return: TemplateCountermeasureImplementationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_countermeasure_implementation_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_countermeasure_implementation_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_countermeasure_implementation_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new countermeasure implementation.  # noqa: E501

        Creates a new countermeasure implementation. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_implementation_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureImplementationRequest body: (required)
        :return: TemplateCountermeasureImplementationResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_countermeasure_implementation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_countermeasure_implementation`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/implementations', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateCountermeasureImplementationResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_countermeasure_reference(self, body, **kwargs):  # noqa: E501
        """Creates a reference for a countermeasure.  # noqa: E501

        Creates a reference for a countermeasure. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** granted or - To have the permission **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureReferenceRequest body: (required)
        :return: TemplateCountermeasureReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_countermeasure_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_countermeasure_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_countermeasure_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a reference for a countermeasure.  # noqa: E501

        Creates a reference for a countermeasure. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** granted or - To have the permission **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureReferenceRequest body: (required)
        :return: TemplateCountermeasureReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_countermeasure_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_countermeasure_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateCountermeasureReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_countermeasure_standard_reference(self, body, **kwargs):  # noqa: E501
        """Creates a template countermeasure standard reference.  # noqa: E501

        Creates a template countermeasure standard reference. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE_ALL** granted, or</li> - To have the permission **TEMPLATE_UPDATE** granted.</li>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_standard_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureStandardReferenceRequest body: (required)
        :return: TemplateCountermeasureStandardReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_countermeasure_standard_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_countermeasure_standard_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_countermeasure_standard_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a template countermeasure standard reference.  # noqa: E501

        Creates a template countermeasure standard reference. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE_ALL** granted, or</li> - To have the permission **TEMPLATE_UPDATE** granted.</li>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_standard_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureStandardReferenceRequest body: (required)
        :return: TemplateCountermeasureStandardReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_countermeasure_standard_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_countermeasure_standard_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/standard-references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateCountermeasureStandardReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_countermeasure_test_reference(self, body, **kwargs):  # noqa: E501
        """Creates a new reference related to a countermeasure test.  # noqa: E501

        Creates a new reference related to a countermeasure test. Conditions to be able to perform the action:<ul><li>To have the permission **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** granted</li></ul>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_test_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureTestReferenceRequest body: (required)
        :return: GetTemplateCountermeasureTestReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_countermeasure_test_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_countermeasure_test_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_countermeasure_test_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new reference related to a countermeasure test.  # noqa: E501

        Creates a new reference related to a countermeasure test. Conditions to be able to perform the action:<ul><li>To have the permission **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** granted</li></ul>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_countermeasure_test_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateCountermeasureTestReferenceRequest body: (required)
        :return: GetTemplateCountermeasureTestReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_countermeasure_test_reference" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_countermeasure_test_reference`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/countermeasures/tests/references', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='GetTemplateCountermeasureTestReferenceResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_from_project(self, body, project_id, **kwargs):  # noqa: E501
        """Create a new template based on a project.  # noqa: E501

        Create a new template based on a project. Conditions to be able to perform the action: - To have the permission **PRODUCT_UPDATE** granted. - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_from_project(body, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateFromProjectRequest body: Payload to create a template from a project. (required)
        :param str project_id: ID of the project (required)
        :return: TemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_from_project_with_http_info(body, project_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_from_project_with_http_info(body, project_id, **kwargs)  # noqa: E501
            return data

    def create_template_from_project_with_http_info(self, body, project_id, **kwargs):  # noqa: E501
        """Create a new template based on a project.  # noqa: E501

        Create a new template based on a project. Conditions to be able to perform the action: - To have the permission **PRODUCT_UPDATE** granted. - To have the permission **TEMPLATE_UPDATE** or **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_from_project_with_http_info(body, project_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateFromProjectRequest body: Payload to create a template from a project. (required)
        :param str project_id: ID of the project (required)
        :return: TemplateResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body', 'project_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_from_project" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_from_project`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `create_template_from_project`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['project-id'] = params['project_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/create-from-project/{project-id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_threat(self, body, **kwargs):  # noqa: E501
        """Create a new Threat.  # noqa: E501

        Create a new Threat. To perform the action the template must be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_threat(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TemplateThreatRequest body: (required)
        :return: TemplateThreatWithCustomFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_threat_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_threat_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_threat_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a new Threat.  # noqa: E501

        Create a new Threat. To perform the action the template must be editable: - It must not be read-only. - It must be visible for the User - User must have **TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** permissions.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_threat_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param TemplateThreatRequest body: (required)
        :return: TemplateThreatWithCustomFieldsResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_threat" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_threat`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/threats', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateThreatWithCustomFieldsResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_threat_comment(self, body, **kwargs):  # noqa: E501
        """Create a new comment for a threat.  # noqa: E501

        Creates a new comment for a threat. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_threat_comment(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateThreatCommentRequest body: (required)
        :return: TemplateThreatCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_threat_comment_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_threat_comment_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_threat_comment_with_http_info(self, body, **kwargs):  # noqa: E501
        """Create a new comment for a threat.  # noqa: E501

        Creates a new comment for a threat. Conditions to be able to perform the action: - To have update permissions granted for the templates (**TEMPLATE_UPDATE_ALL** or **TEMPLATE_UPDATE** with visibility over the template)  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_threat_comment_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateThreatCommentRequest body: (required)
        :return: TemplateThreatCommentResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_template_threat_comment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_template_threat_comment`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/hal+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api-token']  # noqa: E501

        return self.api_client.call_api(
            '/api/v2/templates/threats/comments', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='TemplateThreatCommentResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_template_threat_reference(self, body, **kwargs):  # noqa: E501
        """Creates a new threat reference.  # noqa: E501

        Creates a new threat reference. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** granted or - To have the permission **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_threat_reference(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param CreateTemplateThreatReferenceRequest body: (required)
        :return: TemplateThreatReferenceResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_template_threat_reference_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.create_template_threat_reference_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def create_template_threat_reference_with_http_info(self, body, **kwargs):  # noqa: E501
        """Creates a new threat reference.  # noqa: E501

        Creates a new threat reference. Conditions to be able to perform the action: - To have the permission **TEMPLATE_UPDATE** granted or - To have the permission **TEMPLATE_UPDATE_ALL** granted.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_template_threat_reference_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
[...]
